Repository team-shahu/misskey, pull requests merged in 2024-11, with the labels that each got.

#31 feat: メールアドレスのホワイトリスト機能
  packages/backend/migration/1653288122820-emailWhitelist.js
  packages/backend/src/core/EmailService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/security.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#32 Enhance scheduled note delete
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkDeleteScheduleEditor.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/settings/post-form.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#33 Fix backup
  packages/frontend/src/pages/settings/preferences-backups.vue
Labels: packages/frontend

#34 scheduledNoteDeleteが正常に動作しないことがある問題の修正
  packages/frontend/src/components/MkPostForm.vue
Labels: bug, packages/frontend

#35 feat: 誰がリアクションをしたのかを非表示にできる機能を実装 + fix: クエリの修正
  README.md
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: bug, enhancement, packages/backend, packages/frontend

#37 feat: プロフィールからアクティビティとファイルを隠せるようにする
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#39 feat: nyaizeを無効化できるように
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/global/MkMfm.ts
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#40 enhance: 新着ノート通知があった時まとめるように
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/server/api/endpoints/i/notifications-grouped.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/notifications.vue
  packages/misskey-js/src/autogen/types.ts
Labels: enhancement, packages/backend, packages/frontend, packages/misskey-js

#41 enhance: いいねボタンの実装
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
  packages/misskey-js/src/autogen/types.ts
Labels: enhancement, packages/backend, packages/frontend, packages/misskey-js

#42 feat: 独自機能のページを追加
  README.md
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/shahu-settings.vue
  packages/frontend/src/router/definition.ts
Labels: enhancement, packages/frontend

#43 fix: リアクション数を隠す機能が正しく動作するように
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: bug, packages/frontend

#44 feat: いいねボタンを有効/無効切り替えれるように
  README.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/settings/shahu-settings.vue
  packages/frontend/src/store.ts
Labels: enhancement, packages/frontend

#45 fix: 詳細表示時にいいねボタンが動作してなかった
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: bug, packages/frontend

#46 feat: 予約投稿の実装
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1699437894737-scheduleNote.js
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/NoteSchedule.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/postgres.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/processors/ScheduleNotePostProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/queue/stats.ts
  packages/backend/src/server/api/endpoints/notes/schedule/create.ts
  packages/backend/src/server/api/endpoints/notes/schedule/delete.ts
  packages/backend/src/server/api/endpoints/notes/schedule/list.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkScheduleEditor.vue
  packages/frontend/src/components/MkSchedulePostListDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/scripts/post-form.ts
  packages/frontend/src/store.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
  packages/sw/src/scripts/create-notification.ts
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/sw

#47 feat: リモートのリアクション相乗り
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/store.ts
Labels: packages/frontend
