Repository team-shahu/misskey, pull requests merged in 2024-12, with the labels that each got.

#49 feat: フォロー/フォロリクの履歴
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1732925378001-FollowRequestHistory.js
  packages/backend/migration/1733272213376-FollowHistory.js
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/FollowHistory.ts
  packages/backend/src/models/FollowRequestHistory.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/following/history.ts
  packages/backend/src/server/api/endpoints/following/requests/history.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/follow-history.vue
  packages/frontend/src/pages/follow-requests-history.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#50 fix+enhance: フォロー/フォロリクの履歴周りのコミット
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/server/api/endpoints/following/history.ts
  packages/backend/src/server/api/endpoints/following/requests/history.ts
  packages/frontend/src/pages/follow-history.vue
  packages/frontend/src/pages/follow-requests-history.vue
Labels: packages/backend, packages/frontend

#51 Fix: 予約投稿とすぐ消すが併用できないバグの修正
  README.md
  packages/backend/src/models/NoteSchedule.ts
  packages/backend/src/queue/processors/ScheduleNotePostProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/schedule/create.ts
Labels: packages/backend

#52 feat: ドライブで削除したファイルをオブジェクトストレージ上でも削除するように
  README.md
  packages/backend/src/core/DriveService.ts
  packages/backend/src/server/api/endpoints/drive/files/delete.ts
Labels: packages/backend

#53 enhance(backend): キャッシュを使うように？
  README.md
  packages/backend/src/server/api/endpoints/following/history.ts
  packages/backend/src/server/api/endpoints/following/requests/history.ts
Labels: enhancement, packages/backend

#54 enhance: ロール別お知らせに一致したロール名を表示するように
  README.md
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/frontend/src/pages/announcements.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#55 えもえもローディング画面
  .github/workflows/deploy-test-environment.yml
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1723982389378-AddCustomSplash.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/style.css
  packages/backend/src/server/web/style.embed.css
  packages/backend/src/server/web/systemd.ts
  packages/backend/src/server/web/views/base-embed.pug
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/components/global/MkLoading.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#56 fix: lint/typecheck+色々
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/schedule/create.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/backend/test/unit/misc/is-renote.ts
  packages/frontend/src/pages/admin/announcements.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#57 feat: セミパブリックモードの追加
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  packages/backend/migration/1735143680806-AddPublicNonLtlVisibility.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#58 enhance(frontend): ロールを選ぶダイアログで選んだものをわかりやすく
  README.md
  packages/frontend/src/components/MkRoleSelectDialog.vue
Labels: enhancement, packages/frontend

#59 feat: ログイン通知周りをいい感じに
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/pages/settings/notifications.vue
  packages/sw/src/scripts/create-notification.ts
Labels: enhancement, packages/backend, packages/frontend, packages/sw

#60 Fix/compability semipublic followup
  README.md
  packages/backend/src/core/WebhookTestService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/web/boot.js
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/misskey-js/src/autogen/types.ts
Labels: bug, packages/backend, packages/frontend, packages/misskey-js

#61 chore?: 色々やった
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/server/api/endpoints/announcements/show.ts
  packages/backend/src/server/api/endpoints/notes/schedule/list.ts
  packages/frontend/src/pages/announcement.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#62 Fix: Semi-Public renote icon not showing
  README.md
  packages/frontend/src/components/MkNote.vue
Labels: bug, packages/frontend

#64 Feat(backend)/prefer newly added misskey extension license field to ap emoji
  README.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
Labels: packages/backend
