Repository team-shahu/misskey, pull requests merged in 2025-01, with the labels that each got.

#65 enhance
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SigninService.ts
  packages/backend/src/server/api/endpoints/following/history.ts
  packages/backend/src/server/api/endpoints/following/requests/history.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/follow-history.vue
  packages/frontend/src/pages/follow-requests-history.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/shahu-settings.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#66 enhance(frontend): セミパブリック投稿に対するリプライ並びに自身のセミパブリック投稿に対するパブリックリプライでセミパブリック投稿をデフォに
  README.md
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#68 Fix: セミパブリックのときMkPollが作れない
  README.md
  packages/backend/src/core/NoteCreateService.ts
Labels: bug, packages/backend

#69 Feat/widget listenbrains
  README.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/widgets/WidgetListenBrainz.vue
  packages/frontend/src/widgets/index.ts
Labels: packages/frontend
