Repository team-shahu/misskey, pull requests merged in 2025-02, with the labels that each got.

#70 Enhance/login notification
  README.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/SigninApiService.ts
  packages/frontend/src/components/MkNotification.vue
Labels: enhancement, packages/backend, packages/frontend

#72 fix(backend): 不要なawaitを削除
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
Labels: packages/backend

#73 refactor(backend): 履歴周りをいい感じに
  packages/backend/src/core/HistoryUtils.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/server/api/endpoints/following/history.ts
  packages/backend/src/server/api/endpoints/following/requests/history.ts
Labels: packages/backend

#75 fix: 絵文字のアップロード処理
  packages/backend/src/core/CustomEmojiService.ts
Labels: bug, packages/backend

#74 fix(frontend): 2025.1.0に対応した変更
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/frontend/src/components/MkInstanceIcon.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/shahu-settings.vue
Labels: packages/frontend

#78 サーバー情報をアイコンのみにする設定が有効時、異常な挙動を示す問題の修正
  CHANGELOG_SHAHU.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/global/MkAvatar.vue
Labels: bug, packages/frontend

#80 Fix: サーバーアイコンがすべて自鯖のものになってしまうバグの修正
  CHANGELOG_SHAHU.md
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/pages/settings/shahu-settings.vue
Labels: bug

#83 Fix: セミパブリック投稿の公開範囲が削除して編集で引き継がれない問題
  CHANGELOG_SHAHU.md
  packages/frontend/src/components/MkPostForm.vue
Labels: bug
